main{
    &.main{
        .main-body-container{
            .main-page-container{
                &.--page-votes{
                    background: none;
                    .page-body{
                        .votes-main-container{
                            padding: 0;
                            margin: 0;
                            .ideas-lists-container{
                                padding: 0;
                                margin: 0;
                                .votes-counter-container{
                                    padding: 10px 12px;
                                    margin: 0;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: flex-end;
                                    background: $color-bg-white;
                                    @include border-radius(4px);
                                    border:1px solid $color-special-purple;
                                    >span{
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        padding: 0;
                                        margin: 0;
                                        &.text{
                                            color: $color-text-black;
                                            @include fontsize-15();
                                            font-family: $font-sans-default;
                                            padding: 0;
                                            margin: 0 12px 0 0;
                                        }
                                        &.number{
                                            @include border-radius(2px);
                                            font-family: $font-sans-default;
                                            @include fontsize-15();
                                            color: $color-special-purple;
                                            border:1px solid $color-special-purple-100;
                                            padding: 4px 8px;
                                            margin: 0;
                                            background: $color-bg-white;
                                        }
                                        &.icon{
                                            padding: 0;
                                            margin: 0 0 0 12px;
                                            width: 16px;
                                            height: 16px;
                                            >svg{
                                                max-width: 13px;
                                                >path{}
                                            }
                                            >img{
                                                margin: 0 auto;
                                                max-width: 14px;
                                            }
                                        }
                                    }
                                    &.--pink{
                                        border:1px solid $color-bg-white;
                                        >span{
                                            &.number{
                                                color: $color-special-pink;
                                            }
                                        }
                                    }
                                }
                                .row{
                                    margin-top: 36px;
                                    .col{
                                        margin-top: 20px;
                                        .card{
                                            padding: 15px 15px;
                                            margin: 0;
                                            border:0;
                                            @include border-radius(4px);
                                            @include box-shadow(none);
                                            background: $color-bg-white;
                                            @include media(1200) {
                                                padding: 24px 24px;
                                            }
                                            .card-footer{
                                                padding: 0;
                                                margin: 32px 0 0 0;
                                                border:0;
                                                background: none;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                flex-direction: column;
                                                @include media(400) {
                                                    justify-content: flex-start;
                                                    flex-direction: row;
                                                }
                                                @include media(768) {
                                                    flex-direction: column-reverse;
                                                    justify-content: center;
                                                }
                                                @include media(992) {
                                                    flex-direction: row;
                                                    justify-content: flex-start;
                                                }
                                                .card-links{
                                                    padding: 0;
                                                    margin: 0;
                                                    @include fontsize-15();
                                                    font-family: $font-sans-default;
                                                    a{
                                                        color: $color-text-link;
                                                        text-decoration: none;
                                                        &:hover{
                                                            text-decoration: underline;
                                                        }
                                                    }
                                                }
                                                .card-actions{
                                                    padding: 0;
                                                    margin: 0 0 15px 0;
                                                    width: 100%;
                                                    @include media(400) {
                                                        width: auto;
                                                        margin: 0 15px 0 0;
                                                    }
                                                    @include media(768) {
                                                        margin: 0 0 0 0;
                                                        width: 100%;
                                                    }
                                                    @include media(992) {
                                                        margin: 0 15px 0 0;
                                                        width: auto;
                                                    }
                                                    .form-main-container{
                                                        .form-group{
                                                            &.--submit{
                                                                >ul{
                                                                    @include media(768) {
                                                                        width: 100%;
                                                                    }
                                                                    @include media(992) {
                                                                        width: auto;
                                                                    }
                                                                    >li{
                                                                        @include media(768) {
                                                                            width: 100%;
                                                                        }
                                                                        @include media(992) {
                                                                            width: auto;
                                                                        }
                                                                        .--button-submit{
                                                                            @include fontsize-13();
                                                                            @include media(400) {
                                                                                @include fontsize-15();
                                                                            }
                                                                            @include media(768) {
                                                                                width: 100%;
                                                                            }
                                                                            @include media(992) {
                                                                                width: auto;
                                                                            }
                                                                            >span{
                                                                                &.icon{
                                                                                    width: 16px;
                                                                                    height: 16px;
                                                                                    display: inline-flex;
                                                                                    align-items: center;
                                                                                    justify-content: center;
                                                                                    >svg{
                                                                                        max-width: 13px;
                                                                                        >path{
                                                                                            &.--border{
                                                                                                fill: $color-text-white;
                                                                                            }
                                                                                            &.--background{
                                                                                                fill: $color-text-white;
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                            &.--button-submit-border{
                                                                                >span{
                                                                                    &.icon{
                                                                                        >svg{
                                                                                            >path{
                                                                                                &.--border{
                                                                                                    fill: $color-special-purple;
                                                                                                }
                                                                                                &.--background{
                                                                                                    fill: $color-special-purple;
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                .card-votes{
                                                    padding: 0;
                                                    margin: 0 auto;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    @include media(400) {
                                                        display: inline-flex;
                                                        margin: 0 0 0 auto;
                                                        justify-content: flex-end;
                                                    }
                                                    @include media(768) {
                                                        justify-content: center;
                                                        margin: 0 auto 15px auto;
                                                    }
                                                    @include media(992) {
                                                        justify-content: flex-end;
                                                        margin: 0 0 0 auto;
                                                    }
                                                    >span{
                                                        display: inline-flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        &.icon{
                                                            width: 16px;
                                                            height: 16px;
                                                            padding: 0;
                                                            margin: 0 8px 0 0;
                                                            >img{
                                                                max-width: 14px;
                                                                margin: 0 auto;
                                                            }
                                                            >svg{
                                                                max-width: 13px;
                                                            }
                                                        }
                                                        &.text{
                                                            color: $color-text-black;
                                                            font-family: $font-sans-default;
                                                            @include fontsize-13();
                                                            padding: 0;
                                                            margin: 0;
                                                        }
                                                    }
                                                }
                                            }
                                            .card-body{
                                                padding: 0;
                                                margin: 0;
                                                background: none;
                                                border:0;
                                                @include border-radius(0);
                                                @include box-shadow(none);
                                                .card-links{
                                                    padding: 0;
                                                    margin: 0;
                                                    @include fontsize-15();
                                                    font-family: $font-sans-default;
                                                    a{
                                                        color: $color-text-link;
                                                        text-decoration: none;
                                                        &:hover{
                                                            text-decoration: underline;
                                                        }
                                                    }
                                                }
                                                .card-description,
                                                .card-team-name{
                                                    font-family: $font-sans-default;
                                                    padding: 0;
                                                    margin: 0 0 20px 0;
                                                    color: $color-text-dark-grey;
                                                    @include fontsize-17();
                                                    a{
                                                        color: inherit;
                                                        text-decoration: none;
                                                    }
                                                    >h5{
                                                        color: $color-text-black;
                                                        font-family: $font-sans-bold;
                                                        @include fontsize-13();
                                                        padding: 0;
                                                        margin: 0 0 4px 0;
                                                    }
                                                }
                                                .card-name{
                                                    font-family: $font-sans-default;
                                                    padding: 0;
                                                    margin: 0 0 20px 0;
                                                    color: $color-text-dark-grey;
                                                    @include fontsize-17();
                                                    >h5{
                                                        color: $color-text-black;
                                                        font-family: $font-sans-bold;
                                                        @include fontsize-13();
                                                        padding: 0;
                                                        margin: 0 0 4px 0;
                                                    }
                                                }
                                                .card-description{
                                                    margin-bottom: 12px;
                                                }
                                                .card-tags{
                                                    padding: 0;
                                                    margin: 0 0 20px 0;
                                                    >ul{
                                                        padding: 0;
                                                        margin: 0;
                                                        list-style: none;
                                                        outline:0;
                                                        display: flex;
                                                        align-items: flex-start;
                                                        justify-content: flex-start;
                                                        >li{
                                                            padding: 0;
                                                            margin: 0 0 0 4px;
                                                            font-family: $font-sans-default;
                                                            @include fontsize-13();
                                                            color: $color-special-purple;
                                                            &:first-child{
                                                                margin-left: 0;
                                                            }
                                                        }
                                                    }
                                                }
                                                .card-image{
                                                    padding: 0;
                                                    margin: 0 0 12px 0;
                                                    @include border-radius(4px);
                                                    overflow: hidden;
                                                    position: relative;
                                                    min-height: 176px;
                                                    @include media(576) {
                                                        min-height: 269px;
                                                    }
                                                    @include media(768) {
                                                        min-height: 168px;
                                                    }
                                                    @include media(992) {
                                                        min-height: 235px;
                                                    }
                                                    @include media(1200) {
                                                        min-height: 276px;
                                                    }
                                                    @include media(1400) {
                                                        min-height: 326px;
                                                    }
                                                    @include media(1600) {
                                                        min-height: 242px;
                                                    }
                                                    @include media(1920) {
                                                        min-height: 298px;
                                                    }
                                                    &:after{
                                                        content:none;
                                                        position: absolute;
                                                        top:0;
                                                        left:0;
                                                        width: 100%;
                                                        height: 100%;
                                                        background: $color-bg-disabled;
                                                    }
                                                    >img{
                                                        margin: 0 auto;
                                                        // @include opacity(0.10);
                                                    }
                                                    >span{
                                                        position: absolute;
                                                        top:12px;
                                                        left:12px;
                                                        min-width: 32px;
                                                        min-height: 28px;
                                                        padding: 4px 8px;
                                                        display: inline-flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        background: $color-special-purple-100;
                                                        color: $color-special-purple;
                                                        border:1px solid $color-special-purple;
                                                        @include fontsize-13();
                                                        font-family: $font-sans-default;
                                                        @include border-radius(4px);
                                                        z-index:2;
                                                        >span{
                                                            display: inline-flex;
                                                            align-items: center;
                                                            justify-content: flex-start;
                                                            &.icon{
                                                                margin: 0 8px 0 0;
                                                                width: 16px;
                                                                height: 16px;
                                                                >img{
                                                                    margin: 0;
                                                                }
                                                            }
                                                            &.text{
                                                                @include fontsize-13();
                                                                font-family: $font-sans-default;
                                                            }
                                                        }
                                                        &.--success{
                                                            border-color: $color-state-success;
                                                            color: $color-state-success;
                                                            background: $color-state-success-light;
                                                            padding: 4px 8px;
                                                        }
                                                        &.--left{}
                                                        &.--right{
                                                            left: auto;
                                                            right: 12px;
                                                        }
                                                    }
                                                }
                                            }
                                            &.--votes-is-completed{
                                                .card-body{
                                                    .card-image{
                                                        >img{
                                                            // @include opacity(1);
                                                        }
                                                        // &:after{
                                                        //     content:none;
                                                        // }
                                                    }
                                                }
                                            }
                                        }
                                        &:first-child{
                                            margin-top: 0;
                                        }
                                        &:nth-child(2){
                                            @include media(768) {
                                                margin-top: 0;
                                            }
                                        }
                                        &:nth-child(3){
                                            @include media(1600) {
                                                margin-top: 0;
                                            }
                                        }
                                    }
                                }
                                .swithers-main-container{
                                    .row{
                                        margin-top: 0;
                                        .col{
                                            margin-top: 0;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                                .pagination-main-container{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    .note{
                                        margin: 16px 0 0 0;
                                    }
                                    >ul{
                                        &.pagination{
                                            >li{
                                                &.page-item{
                                                    &.pagination-prev-nav,
                                                    &.pagination-next-nav,
                                                    &.active{
                                                        >a{
                                                            &.page-link{
                                                                background: $color-bg-white;
                                                            }
                                                        }
                                                    }
                                                    &.pagination-prev-nav,
                                                    &.pagination-next-nav{
                                                        &.disabled{
                                                            display: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .votes-info-container{
                                padding: 24px 24px;
                                margin: 0 0 52px 0;
                                background: $color-bg-white;
                                border: 1px solid $color-special-purple-100;
                                @include border-radius(4px);
                                @include media(1200) {
                                    padding: 32px 32px;
                                }
                                .row{
                                    .col{
                                        margin-bottom: 20px;
                                        @include media(992) {
                                            margin-bottom: 0;
                                            flex: 1 1 62%;
                                            max-width: 62%;
                                        }
                                        @include media(1400) {
                                            flex: 1 1 70%;
                                            max-width: 70%;
                                        }
                                        @include media(1920) {
                                            flex: 1 1 80%;
                                            max-width: 80%;
                                        }
                                        .card{
                                            padding: 0;
                                            margin: 0;
                                            border:0;
                                            @include border-radius(0);
                                            background: none;
                                            .card-body{
                                                padding: 0 0 0 0;
                                                margin: 0;
                                                color: $color-text-dark-grey;
                                                @include fontsize-13();
                                                font-family: $font-sans-default;
                                                display: flex;
                                                justify-content: center;
                                                flex-direction: column;
                                                @include media(768) {
                                                    @include fontsize-15();
                                                }
                                                @include media(992) {
                                                    padding-right: 15px;
                                                }
                                                @include media(1600) {
                                                    @include fontsize-17();
                                                }
                                                >ul{
                                                    padding: 0;
                                                    margin: 0;
                                                    list-style:none;
                                                    >li{
                                                        margin: 0 0 8px 0;
                                                        position: relative;
                                                        padding: 0 0 0 16px;
                                                        &:before{
                                                            content:'';
                                                            position: absolute;
                                                            top:8px;
                                                            left:0;
                                                            width: 4px;
                                                            height: 4px;
                                                            @include border-radius(100%);
                                                            background: $color-icon-black;
                                                        }
                                                        &:last-child{
                                                            margin-bottom: 0;
                                                        }
                                                    }
                                                }
                                                >p{
                                                    margin-bottom: 12px;
                                                    &:last-child{
                                                        margin-bottom: 0;
                                                    }
                                                }
                                                .card-heading{
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: flex-start;
                                                    padding: 0;
                                                    margin: 0 0 18px 0;
                                                    .text{
                                                        color: $color-text-black;
                                                        font-family: $font-sans-bold;
                                                        @include fontsize-17();
                                                        @include media(1200) {
                                                            @include fontsize-20();
                                                        }
                                                    }
                                                    .icon{
                                                        padding: 0;
                                                        margin: 0 12px 0 0;
                                                        width: 24px;
                                                        height: 24px;
                                                        max-width: 24px;
                                                        display: inline-flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        >img{
                                                            margin: auto;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        &.--votes-statistics{
                                            @include media(992) {
                                                flex: 1 1 38%;
                                                max-width: 38%;
                                            }
                                            @include media(1400) {
                                                flex: 1 1 30%;
                                                max-width: 30%;
                                            }
                                            @include media(1920) {
                                                flex: 1 1 20%;
                                                max-width: 20%;
                                            }
                                            .card{
                                                .card-body{
                                                    padding: 0;
                                                    margin: 0;
                                                    display: flex;
                                                    justify-content: center;
                                                    flex-direction: column;
                                                    .date-start{
                                                        padding: 32px 16px;
                                                        @include border-radius(4px);
                                                        background: $color-bg-blue-grey;
                                                        margin: 0 0 32px 0;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        flex-direction: column;
                                                        h4{
                                                            padding: 0;
                                                            margin: 0 0 12px 0;
                                                            color: $color-special-tooltip;
                                                            font-family: $font-sans-bold;
                                                            @include fontsize-17();
                                                            @include media(1200) {
                                                                @include fontsize-20();
                                                            }
                                                        }
                                                        .note{
                                                            padding: 0;
                                                            margin: 0 0 12px 0;
                                                            color: $color-text-dark-grey;
                                                            @include fontsize-15();
                                                            font-family: $font-sans-default;
                                                        }
                                                        .date{
                                                            padding: 0;
                                                            margin: 0;
                                                            color: $color-text-black;
                                                            font-family: $font-sans-bold;
                                                            @include fontsize-20();
                                                        }
                                                    }
                                                    .date-result{
                                                        padding: 32px 16px;
                                                        @include border-radius(4px);
                                                        background: $color-special-purple-100;
                                                        margin: 0 0 0 0;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        flex-direction: column;
                                                        h4{
                                                            padding: 0;
                                                            margin: 0 0 12px 0;
                                                            color: $color-special-tooltip;
                                                            font-family: $font-sans-bold;
                                                            @include fontsize-17();
                                                            @include media(1200) {
                                                                @include fontsize-20();
                                                            }
                                                        }
                                                        .note{
                                                            padding: 0;
                                                            margin: 0 0 12px 0;
                                                            color: $color-text-dark-grey;
                                                            @include fontsize-15();
                                                            font-family: $font-sans-default;
                                                        }
                                                        .date{
                                                            padding: 0;
                                                            margin: 0;
                                                            color: $color-text-black;
                                                            font-family: $font-sans-bold;
                                                            @include fontsize-20();
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        &:first-child{
                                            position: relative;
                                            &:before{
                                                content:none;
                                                position: absolute;
                                                width: 1px;
                                                height: 100%;
                                                top:0;
                                                right:15px;
                                                bottom:0;
                                                background: $color-special-purple-100;
                                                @include media(992) {
                                                    content:'';
                                                }
                                            }
                                        }
                                        &:last-child{
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}