/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vs
/.idea
/.osp
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
package-lock.json
composer.lock
Nginx_1.21_vhost.conf
Nginx_1.23_vhost.conf