header.header{
    padding: 15px 0;
    margin: 0;
    background: $color-bg-white;
    width: 100%;
    .header-main-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        position: relative;
        .header-user-container{
            padding: 0;
            margin: 0 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            >.dropdown{
                padding: 0;
                margin: 0;
                background: none;
                position: unset;
                @include media(768) {
                    position: relative;
                }
                >.dropdown-menu{
                    padding: 12px 15px;
                    margin: 15px 0 0 0;
                    background: $color-bg-white;
                    border:0;
                    @include border-radius(4px);
                    border:1px solid $color-special-purple-100;
                    min-width: 285px;
                    width: 100%;
                    @include media(768) {
                        max-width: 285px;
                    }
                    .header-user-info-divider{
                        margin: 12px 0 12px 0;
                        padding: 0;
                        background: $color-bg-blue-grey;
                        width: 100%;
                        height: 1px;
                    }
                    .header-user-info-container{
                        padding: 0 0 12px 0;
                        margin: 0 0 0 0;
                        .status{
                            color:$color-text-dark-grey;
                            font-size:rem(13px);
                            line-height: 20px;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            font-family: $font-sans-default;
                        }
                        .name{
                            color:$color-text-black;
                            font-family: $font-sans-bold;
                            font-size:rem(17px);
                            line-height: 24px;
                            padding: 0;
                            margin: 0 0 4px 0;
                        }
                    }
                    .dropdown-item{
                        padding: 8px 8px;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        background: none;
                        color: $color-text-black;
                        font-family: $font-sans-default;
                        font-size: rem(15px);
                        line-height: 22px;
                        @include border-radius(4px);
                        font-weight: normal;
                        >span{
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0;
                            margin: 0;
                            &.icon{
                                margin: 0 12px 0 0;
                                width: 24px;
                                height: 24px;
                                >svg{
                                    max-width: 100%;
                                    fill:$color-icon-black;
                                }
                            }
                            &.text{}
                        }
                        &:hover{
                            background: $color-special-purple-100;
                            color: $color-special-purple;
                            >span{
                                &.icon{
                                    >svg{
                                        fill: $color-special-purple;
                                    }
                                }
                            }
                        }
                    }
                    .dropdown{
                        .dropdown-menu{
                            position: relative;
                            border:0;
                            background: none;
                            top:auto;
                            left: auto;
                            padding: 0;
                            margin: 4px 0 10px 0;
                            float: none;
                            z-index: unset;
                            min-width: unset;
                            .dropdown-item{
                                padding: 9px 8px;
                                margin: 4px 0 0 0;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                color: $color-text-black;
                                font-family: $font-sans-default;
                                font-size: rem(15px);
                                line-height: 22px;
                                @include border-radius(4px);
                                font-weight: normal;
                                width: 100%;
                                background: $color-bg-light-grey;
                                white-space: normal;
                                >span{
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 0;
                                    margin: 0;
                                    &.icon{
                                        margin: 0 0 0 auto;
                                        width: 24px;
                                        height: 24px;
                                        >svg{
                                            max-width: 100%;
                                            fill:$color-icon-black;
                                        }
                                    }
                                    &.text{}
                                }
                                &:hover{
                                    background: $color-bg-blue-grey;
                                    color: $color-special-purple;
                                    >span{
                                        &.icon{
                                            >svg{
                                                fill: $color-special-purple;
                                            }
                                        }
                                    }
                                }
                                &.--current-team{
                                    background: $color-bg-blue-grey;
                                    color: $color-special-purple;
                                    >span{
                                        &.icon{
                                            >svg{
                                                fill: $color-special-purple;
                                            }
                                        }
                                    }
                                }
                                &:first-child{
                                    margin-top: 0;
                                }
                            }
                        }
                        >button{
                            &.dropdown-toggle{
                                padding: 8px 8px;
                                margin: 0;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                background: none;
                                color: $color-text-black;
                                font-family: $font-sans-default;
                                font-size: rem(15px);
                                line-height: 22px;
                                @include border-radius(4px);
                                font-weight: normal;
                                width: 100%;
                                >span{
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 0;
                                    margin: 0;
                                    &.icon{
                                        margin: 0 12px 0 0;
                                        width: 24px;
                                        height: 24px;
                                        >svg{
                                            max-width: 100%;
                                            fill:$color-icon-black;
                                        }
                                    }
                                    &.text{}
                                    &.chevron{
                                        margin: 0 0 0 auto;
                                        width: 24px;
                                        height: 24px;
                                        >svg{
                                            max-width: 100%;
                                            fill: $color-icon-black;
                                            @include rotate(180);
                                        }
                                    }
                                }
                                &:after,
                                &:before{
                                    content: none;
                                }
                                &.--is-open{
                                    >span{
                                        &.chevron{
                                            >svg{
                                                @include rotate(0);
                                            }
                                        }
                                    }
                                }
                                &.--is-open,
                                &:hover{
                                    background: $color-special-purple-100;
                                    color: $color-special-purple;
                                    >span{
                                        &.icon{
                                            >svg{
                                                fill: $color-special-purple;
                                            }
                                        }
                                        &.chevron{
                                            >svg{
                                                fill: $color-special-purple;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                >button{
                    &.dropdown-toggle{
                        padding: 0;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include box-shadow(none);
                        outline:0;
                        border:0;
                        width: 42px;
                        height: 42px;
                        @include border-radius(100%);
                        overflow: hidden;
                        background: none;
                        @include media(576) {
                            width: 48px;
                            height: 48px;
                        }
                        @include media(992) {
                            width: 52px;
                            height: 52px;
                        }
                        @include media(1200) {
                            width: 56px;
                            height: 56px;
                        }
                        &:before,
                        &:after{
                            content:none;
                        }
                        >span{
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            &.icon{
                                >img{
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-logo-container{
            padding: 0;
            margin: 0;
            >a{
                text-decoration: none;
                outline:0;
                padding: 2px 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @include media(576) {
                    padding: 5px 0;
                }
                @include media(992) {
                    padding: 7px 0;
                }
                @include media(1200) {
                    padding: 9px 0;
                }
                >img{
                    margin: 0 auto 0 0;
                }
            }
        }
    }
}