@include keyframes(swal2-toast-show) {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@include keyframes(swal2-toast-hide) {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
        @include opacity(0);
    }
}
// @include keyframes(swal2-toast-show) {
//     0% {
//         transform: translateY(100%);
//     }
//     100% {
//         transform: translateY(0);
//     }
// }
// @include keyframes(swal2-toast-hide) {
//     0% {
//         transform: translateY(0);
//     }
//     100% {
//         transform: translateY(100%);
//         @include opacity(0);
//     }
// }